header{
    position: relative;
    h3 {
        ion-icon{
            vertical-align: middle;
            padding-right: 10px;
        }
    }

    a{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 2.5rem;
    }
}

#tbl-members{
    th:first-child,
    tbody td:first-child{
        width: 75px;
        text-align: center;
    }

    th:nth-child(2),
    tbody td:nth-child(2){
        width: 250px;
    }

    th:last-child,
    tbody td:last-child{
        width: 150px;
        text-align: center;
    }    
}